/front/node_modules
/front/.webpack
/backend
/server/__pycache__
/server/core/datasets/__pycache__
/server/core/__pycache__
/server/core/entities/__pycache__
/server/core/utils/__pycache__
/server/core/models/__pycache__
/server/api/__pycache__